
input {
    keyboard {
        xkb {
            layout "us,graphite"
            model ""
            rules ""
            variant ","
            options "grp:alt_space_toggle"
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad { tap; }
    focus-follows-mouse max-scroll-amount="30%"
}
output "eDP-1" {
    scale 1
    transform "normal"
    position x=0 y=0
    mode "1920x1080@60.000000"
}
window-rule {
    match app-id="^kitty$"
    match app-id="^emacs$"

    background-effect {
        blur true
    }
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd
layout {
    gaps 4
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring { off; }
    border {
        width 2
        active-color "#c4a7e7"
        inactive-color "#6e6a86"
    }
    default-column-width { proportion 0.500000; }
    preset-column-widths {
        proportion 0.333333
        proportion 0.500000
        proportion 0.666667
    }
    center-focused-column "never"
}
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 18
}
binds {
    Alt+Shift+Q { quit skip-confirmation=false; }
    Alt+Shift+WheelScrollDown { move-column-to-workspace-down; }
    Alt+Shift+WheelScrollUp { move-column-to-workspace-up; }
    Alt+WheelScrollDown { focus-workspace-down; }
    Alt+WheelScrollUp { focus-workspace-up; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+A { focus-column-first; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+C { center-column; }
    Mod+Comma { consume-window-into-column; }
    Mod+Ctrl+I { move-workspace-up; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Ctrl+U { move-workspace-down; }
    Mod+D { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+V { spawn "noctalia" "msg" "panel-toggle" "clipboard"; }
    Mod+Down { focus-window-down; }
    Mod+E { focus-column-right; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+F { fullscreen-window; }
    Mod+G { toggle-column-tabbed-display; }
    Mod+H { focus-column-left; }
    Mod+I { focus-workspace-up; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+M { maximize-column; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+O { toggle-overview; }
    Mod+Period { expel-window-from-column; }
    Mod+Q { focus-column-left; }
    Mod+R { switch-preset-column-width; }
    Mod+Return { spawn "kitty"; }
    Mod+Right { focus-column-right; }
    Mod+S { toggle-window-floating; }
    Mod+Shift+1 { move-column-to-index 1; }
    Mod+Shift+2 { move-column-to-index 2; }
    Mod+Shift+3 { move-column-to-index 3; }
    Mod+Shift+4 { move-column-to-index 4; }
    Mod+Shift+5 { move-column-to-index 5; }
    Mod+Shift+6 { move-column-to-index 6; }
    Mod+Shift+7 { move-column-to-index 7; }
    Mod+Shift+8 { move-column-to-index 8; }
    Mod+Shift+9 { move-column-to-index 9; }
    Mod+Shift+A { move-column-to-first; }
    Mod+Shift+Down { move-window-up; }
    Mod+Shift+E { move-column-right; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+F { toggle-windowed-fullscreen; }
    Mod+Shift+H { move-column-left; }
    Mod+Shift+I { move-column-to-workspace-up; }
    Mod+Shift+J { move-window-up; }
    Mod+Shift+K { move-window-down; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Q { move-column-left; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }
    Mod+Shift+U { move-column-to-workspace-down; }
    Mod+Shift+Up { move-window-down; }
    Mod+Shift+WheelScrollDown { move-column-right; }
    Mod+Shift+WheelScrollUp { move-column-left; }
    Mod+Shift+Z { move-column-to-last; }
    Mod+U { focus-workspace-down; }
    Mod+Up { focus-window-up; }
    Mod+W { close-window; }
    Mod+WheelScrollDown { focus-column-right; }
    Mod+WheelScrollUp { focus-column-left; }
    Mod+X { expand-column-to-available-width; }
    Mod+Z { focus-column-last; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "s" "10%-"; }
    XF86MonBrightnessUp { spawn "brightnessctl" "s" "10%+"; }
}
spawn-at-startup "xwayland-satellite"
spawn-at-startup "noctalia"
